<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend, nisi in malesuada malesuada, lacus enim tempus mi, in fringilla orci mi ac massa. Quisque dapibus venenatis iaculis. In hac habitasse platea dictumst. Praesent egestas mi nec odio consequat gravida. Mauris lacus ipsum, maximus a ligula vel, venenatis molestie dui. Maecenas in gravida massa, in dapibus sapien. Suspendisse a diam laoreet, facilisis metus congue, mattis mauris. Morbi sollicitudin magna et sollicitudin facilisis. Vivamus sagittis nisl at erat cursus finibus. Phasellus consequat, tortor ut dictum pharetra, lorem risus rutrum lacus, vel laoreet urna massa vitae turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris et magna ut nisi varius consequat. Morbi vitae velit id ex pretium volutpat. Phasellus imperdiet, eros et pellentesque efficitur, turpis lorem ultricies ex, ut ornare ex mi at justo. Mauris dignissim arcu non lacinia rhoncus.
	</p>
</article>